name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
         - name: Push to hub
          git push --force https://Raghesh07:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/Raghesh07/video-temporal-detector main
# trigger sync
